#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.spacer5{
  height: 5vh;
}


.outerBox{
    text-align: center;
    padding: 0px;
    margin: 0;
    padding-left: 10%;
    display: flex;
    position: relative;
    margin-top: 0;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: auto;
    gap: 1em;
}