
.titleBox{
    border: 2px solid var(--accentColor);
    border-radius: 10px;
    text-align: left;
    width: 80%;
    padding: 10px;
    /* margin: auto; */
    padding-left: 30px;
    color: var(--textSecondary);
    text-shadow: 0 0 8px;
    
}